*{    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

body {
    color: #434455;
    background-color: #FFFFFF;
}

.header-navigation {
    font-weight: 500;
}

.header-navigation-studio {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-navigation-portfolio {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-navigation-contacts {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-navigation-portfolio {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-navigation-contacts {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-address {
    font-style: normal;
}

.gmail {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.tel {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

a:hover {
    color: #404bbf;
}

.first-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.second-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}